.HistoryTree {
  overflow: auto;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 1px solid white;
}

.DeleteButton {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
