.History a {
  text-decoration: underline;
  cursor: pointer;
}

.History li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.our-universe {
  font-weight: bold;
}

.parallel-universe {
  font-weight: lighter;
}
